# Ігноруємо всю папку віртуального середовища
new_venv/

# Ігноруємо локальну базу даних (бо в ТЗ далі буде PostgreSQL)
Project/db.sqlite3

# Ігноруємо системні файли кешу Python та macOS
**/__pycache__/
*.pyc
.DS_Store
.vscode/